<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Basic">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.autotech.listeners.CustomListeners" />
	</listeners>

	<test name="Bank Manager Login Test">
		<classes>
			<class name="com.autotech.testcases.BankManagerLoginTest" />
		</classes>
	</test> <!-- Test -->
	<test name="Add Customer Test">
		<classes>
			<class name="com.autotech.testcases.AddCustomerTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
